.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: auto;

  max-width: 40%;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 0.5rem;
    }
  }

  .auth-action {
    margin-top: 2rem;
  }
}
