<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="auth-content" [ngSwitch]="viewConfig.viewType">
  <a mat-icon-button color="accent" class="auth__btn--back" routerLink="..">
    <mat-icon>
      arrow_back
    </mat-icon>
  </a>
  <img src="assets/brand/logo.svg" class="brand-logo"/>
  <h1 class="auth-header">Reset Password.</h1>

  <ng-container *ngSwitchCase="allViewTypes.TYPE_EMAIL_SENT">
    <div id="emailSentTemplate">
      <p>
        We have sent you an email to help you reset your password.
      </p>
      <p>
        We will redirect you to the login page now.
      </p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="allViewTypes.TYPE_NEW_REQUEST">
    <form
      id="defaultTemplate"
      [formGroup]="formGroup"
      (submit)="requestAPasswordReset()"
    >
      <p>
        Please enter your email address.
      </p>

      <mat-form-field>
        <mat-label>Attempted Email</mat-label>
        <input type="email" matInput formControlName="attemptedEmail" placeholder="Email Address"/>
      </mat-form-field>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="isLoading || !formGroup.valid"
      >
        Request A Password Reset
      </button>
    </form>
  </ng-container>

  <ng-container *ngSwitchCase="allViewTypes.TYPE_RESET_TOKEN">
    <form
      id="resetTokenTemplate"
      [formGroup]="formGroup"
      (submit)="changePassword()"
    >
      <p>
        Please enter your new password.
      </p>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="********"/>
      </mat-form-field>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="isLoading || !formGroup.valid"
      >
        Reset Your Password
      </button>
    </form>
  </ng-container>
</div>
