<h2 mat-dialog-title>Create a new user</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName" placeholder="First Name"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName" placeholder="Last Name"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" formControlName="phoneNumber" placeholder="Phone Number"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let option of availableRoles" [value]="option">{{option | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="********"/>
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="getPassword()"
        matTooltip="Auto Generate Password"
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-form-field>

    <div class="dialog-actions">
      <button
        mat-button
        color="warn"
        type="button"
        (click)="dialogRef.close()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onConfirm()"
        [disabled]="!formGroup.valid"
      >
        Save
      </button>
    </div>
  </form>
</mat-dialog-content>

