<ng-container>
  <mat-sidenav-container [dir]="direction">
    <mat-sidenav
      *ngIf="loadMembersLayout"
      [opened]="drawerOpened"
      mode="side"
      [fixedInViewport]="true">
      <img src="assets/brand/logo.svg" class="brand-logo"/>
    </mat-sidenav>
    <mat-sidenav-content>

      <div
        class="app__controls"
        *ngIf="loadMembersLayout"
      >
        <button
          class="drawer-toggle"
          mat-button
          color="primary"
          (click)="toggleDrawer()"
        >
          <mat-icon>{{drawerOpened ? 'menu' : 'menu_open'}}</mat-icon>
          {{"LABELS.NAVIGATION" | translate}}
        </button>

        <button mat-button color="primary" [matMenuTriggerFor]="menu">{{currentLanguage$ | async | translate}}</button>
      </div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<mat-menu #menu>
  <button
    mat-menu-item
    *ngFor="let loc of availableLocales"
    (click)="changeLanguage(loc)"
  >
    {{"TRANSLATION." + loc.toUpperCase() | translate}}
  </button>
</mat-menu>
