.auth-content {
  margin: 40% auto auto 0;
}

.brand-logo {
  margin-bottom: 4rem;
  width: auto;
  height: 5rem;
}

.auth-header {
  margin-top: 0;
}

.auth-subheader {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 0.5rem;
  }

  mat-checkbox {
    margin: 1rem 0;
  }
}

.auth-navigation {
  margin: 0.5rem 0 0 auto;
  font-style: italic;
}
