<div class="auth-content">
  <img src="assets/brand/logo.svg" class="brand-logo"/>
  <form [formGroup]="formGroup">
    <h2 class="auth-subheader">Hello,</h2>
    <h1 class="auth-header">Sign in to TechHive.IO</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" placeholder="Email"/>
      <mat-error *ngIf="formGroup.controls.email.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="formGroup.controls.email.errors?.email">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="********"/>
      <mat-error *ngIf="formGroup.controls.password.errors?.required">
        You must enter a password to continue.
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>

    <button
      class="auth-action"
      [disabled]="!formGroup.valid || isLoading"
      mat-raised-button
      color="primary"
    >
      Sign in
    </button>

    <a routerLink="/auth/sign-up" class="auth-navigation">Already have an account?</a>
  </form>
</div>
