.auth-container {
  display: flex;
}

.auth-action {
  margin-top: 2rem;
}

.content-col, .brand-col {
  height: 100vh;
}

.content-col {
  position: relative;

  flex-basis: 30%;
  padding: 0 5rem;

  ::ng-deep mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.brand-col {
  flex-grow: 2;

  background: var(--color-secondary);
}
